<footer class="footer" > 
    <div class="footer-logo-area">  <!-- position: relative -->
        <div class="footer-logo">  <!-- position: absolute -->
            <div class="footer-logo_frame">
                <img src="https://manhducjr.cf/nowbuys/global/logo-app/logo.png" alt="">
            </div>
            <p>NowBuys</p>
        </div>   
    </div>

    <div class="footer-main">  
        <div class="footer-main_inf">
            <div class="footer-main_inf__phone">
                <ion-icon name="call-outline"></ion-icon>
                <p>0923.686.868</p>
            </div>
            <div class="footer-main_inf__email">
                <ion-icon name="mail-outline"></ion-icon>
                <p>support@nowbuys.com</p>
            </div>
            <div class="footer-main_inf__address">
                <ion-icon name="map-outline"></ion-icon>
                <p>Toà nhà 3D Building, Xuân Thuỷ, Dịch Vọng Hậu, Cầu Giấy, Hà Nội </p>
            </div>
        </div>
        <div class="footer-main_about-me">
            <h1 class="footer-main_about-me__title">Buyows</h1>
            <div class="footer-main_about-me_list">
                <div><a href="">Cam kết</a></div>
                <div><a href="">Chính sách và dịch vụ</a></div>
                <div><a href="">Bảo hành - Sửa chửa</a></div>
            </div>
        </div>
        <div class="footer-main_support">
            <h1 class="footer-main_support__title">Hỗ trợ</h1>
            <div class="footer-main_support__list">
                <div><a href="">Liên hệ</a></div>
                <div><a href="">Bảo mật</a></div>
                <div><a href="">Điều khoản</a></div>
            </div>
        </div>
        <div class="footer-main_inf-company">
            <h1 class="footer-main_inf-company__title">Công ty cổ phần thương mại Nowbuys</h1>
            <div class="footer-main_inf-company_list">
                <p>Mã số thuế: 01257259821</p>
                <p>Ngày thành lập: 04/11/2022</p>
                <p>Lĩnh vực: Kinh doanh các sản phẩm công nghệ - dịch vụ công nghệ.</p>
            </div>
        </div>
    </div>

    <div class="footer-sub">
        <div class="footer-sub_icon">
            <a href=""><ion-icon name="logo-facebook"></ion-icon></a>
            <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href=""><ion-icon name="logo-github"></ion-icon></a>
            <a href=""><ion-icon name="logo-youtube"></ion-icon></a>
        </div>
        <p class="footer-sub_title">@2022 NOWBUYS. Nơi quy tụ các sản phẩm công nghệ hàng đầu Việt Nam</p>
    </div>
    </footer>