<header class="header">
    <div class="header-main">
        <a href="/">
            <div class="header-main_logo">
                <div class="header-main_logo__frame">
                    <img src="https://manhducjr.cf/nowbuys/global/logo-app/logo.png" alt="Logo">
                </div>
                <div class="header-main_logo__name">
                    <p class="header-main_logo__name-main">Nowbuys</p>
                    <p class="header-main_logo__name-sub">Thế giới công nghệ</p>
                </div>
            </div>
        </a>
        
        <div class="header-main_search">
            <div class="header-main_search__area">
                <input type="text" placeholder="Đăng ký và nhận voucher bạn mới đến 70k!">
                <div class="search-button">
                    <ion-icon name="search"></ion-icon>
                </div>
            </div>
        </div>

        <div class="header-main_cart">
            <ion-icon name="cart-outline"></ion-icon>
        </div>

        <div class="header-main_account">
            <a href=""><p class="sign-up">Đăng ký</p></a>
            <a href=""><p class="sign-in">Đăng nhập</p></a>
        </div>


    </div>
    <div class="header-sub">
        <div class="header-sub_container">
            <div class="header-sub-content">
                <a href="/"><p class="header-sub_item">Tất cả sản phẩm</p></a>
                <a href="/phone-products/all"><p class="header-sub_item">Điện thoại</p></a>
                <a href="/laptop-products/all"><p class="header-sub_item">Laptop</p></a>
                <a href="/ipad-products/all"><p class="header-sub_item">Ipad</p></a>
                <a href="/tablet-products/all"><p class="header-sub_item">Máy tính bảng</p></a>
                <a href="/screen-pc-products/all"><p class="header-sub_item">Màn hình máy tính</p></a>
                <a href="/smart-watch-products/all"><p class="header-sub_item">Đồng hồ thông minh</p></a>
                <a href="/analog-watch-products/all"><p class="header-sub_item">Đồng hồ thời trang</p></a>
            </div>
        </div>
    </div>
</header>