<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="shortcut icon" type="image/png" href="https://manhducjr.cf/nowbuys/global/logo-app/logo.png"/>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        
        <script src="https://kit.fontawesome.com/a2d3361a92.js" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style/main.css">
        <link rel="stylesheet" href="/style/header/header.css">
        <link rel="stylesheet" href="/style/footer/footer.css">
        <link rel="stylesheet" href="/style/body/body.css">
        <link rel="stylesheet" href="/style/productsPage/products-page.css">
        <link rel="stylesheet" href="/style/cart-product.css">
        <link rel="stylesheet" href="/style/buttons.css">

        <!-- Swiper - Dynamic slides -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
        
    </head>
    <body>

        <div id="app">
            <div class="scroll-to-top">
               <ion-icon name="chevron-up-outline"></ion-icon>
            </div>
    
            {{> header}}
                {{{body}}}
            {{> footer}}
            
        </div>

        <script src="/javascript/index.js"></script>

        <!-- Swiper - Dynamic slides -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script>
            var swiperPhone = new Swiper('.swiper-container-phone', {
                slidesPerView: 4,
                centeredSlides: false,
                centerInsufficientSlides: true,
                centeredSlidesBounds: true,
                spaceBetween: 36,
                autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    type: 'fraction',
                },
                navigation: {
                    nextEl: '.button-next-phone--JS',
                    prevEl: '.button-prev-phone--JS',
                },
            });
            swiperPhone.autoplay.stop();
            var swiperLaptop = new Swiper('.swiper-container-laptop', {
                slidesPerView: 4,
                centeredSlides: false,
                centerInsufficientSlides: true,
                centeredSlidesBounds: true,
                spaceBetween: 36,
                reverseDirection: true,
                autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    type: 'fraction',
                },
                navigation: {
                    nextEl: '.button-next-laptop--JS',
                    prevEl: '.button-prev-laptop--JS',
                },
            });
            swiperLaptop.autoplay.stop();
        </script>
    </body>
</html>